.card__delete-button {
  position: absolute;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/delete-icon.svg);
  background-color: transparent;
  background-size: contain;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  /*z-index: ;*/
  /*width: 18px;
  height: 19px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: transparent;
  transition: 0.4s;*/
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
