.form__save-button {
  width: 358px;
  height: 50px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  padding: 0;
  margin: 48px auto 0;
}

.form__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .form__save-button {
    width: 238px;
    height: 46px;
    margin: 45px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}
