.header__logo {
  max-width: 142px;
  max-height: 33px;
  padding: 45px 0 41px 0;
}

/*.header__logo::after {
  content: "";
  display: block;
  height: 1px;
  background: #545454;
  max-width: calc(100vw - 400px);
  margin: 0 auto 0;
  padding: 0%;
  opacity: .7;
}*/

@media screen and (max-width: 650px) {
  .header__logo {
    padding: 28px 0 31.6px 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
